<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <root>
      <appender-ref ref="RollingErrorAppender" />
      <appender-ref ref="RollingDebugAppender" />
      <appender-ref ref="RollingInfoAppender" />
    </root>



    <appender name="RollingErrorAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--日志路径-->
      <param name="File" value="log/ErrorLog/Error_" />
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <!--最大变换数量-->
      <maxSizeRollBackups value="500" />
      <!--最大文件大小-->
      <maximumFileSize value="500KB" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <!--日志文件名是否是固定不变的-->
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d %-5p %c - %m%n" />
      </layout>

      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Error" />
        <param name="LevelMax" value="Error" />
      </filter>
    </appender>

    <appender name="RollingInfoAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--日志路径-->
      <param name="File" value="log/InfoLog/Info_" />
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true" />
      <!--日志根据日期滚动-->
      <param name="RollingStyle" value="Date" />
      <!--最大变换数量-->
      <maxSizeRollBackups value="500" />
      <!--最大文件大小-->
      <maximumFileSize value="500KB" />
      <!--日志文件名格式为:20080831.log-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <!--日志文件名是否是固定不变的-->
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d %-5p %c - %m%n" />
      </layout>


      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Info" />
        <param name="LevelMax" value="Info" />
      </filter>
    </appender>

    <appender name="RollingDebugAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

      <param name="File" value="log/DebugLog/Debug_" />

      <param name="AppendToFile" value="true" />
      <!--日志根据日期滚动-->
      <param name="RollingStyle" value="Date" />
      <!--最大变换数量-->
      <maxSizeRollBackups value="500" />
      <!--最大文件大小-->
      <maximumFileSize value="500KB" />
      <!--日志文件名格式为:20080831.log-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d %-5p %c - %m%n" />

      </layout>

      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Debug" />
        <param name="LevelMax" value="Debug" />
      </filter>


    </appender>

  </log4net>
</configuration>