<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Servers>
    <!--<Server Name="appService" Url="http://127.0.0.1:3001/"/>
    <Server Name="appService2" Url="http://127.0.0.1:3002/"/>-->
    <Server Name="appService" Url="http://127.0.0.1:9001/"/>
    <Server Name="appService2" Url="http://10.10.10.203:9101/"/>
    <!--<Server Name="appService" Url="http://10.10.10.203:9001/"/>-->
  </Servers>
</Config>