<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Services>
    <Service Server="appService" Name="Test1" Url="api/Test/PostServiceTest" Method="Post" IsRelative="true"/>
    <!--产品接口-->
    <Service Server="appService" Name="GetGoodsNameListByParam" Url="api/Product/GetGoodsNameListByParam" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetFormulationListByParam" Url="api/Product/GetFormulationListByParam" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetProductEvaluationList" Url="api/Product/GetProductEvaluationList" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetProductEvaluationList2" Url="api/Product/GetProductEvaluationList2" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetSearchKeyWordList" Url="api/Product/GetSearchKeyWordList" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetSearchKeyWordList2" Url="api/Product/GetSearchKeyWordList2" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetSearchKeyWordList3" Url="api/Product/GetSearchKeyWordList3" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetSearchKeyWordList4" Url="api/Product/GetSearchKeyWordList4" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetOneCategory" Url="api/Product/GetOneCategory" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetTwoCategoryByOne" Url="api/Product/GetTwoCategoryByOne" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetThreeCategoryByTwo" Url="api/Product/GetThreeCategoryByTwo" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetFourCategoryByThree" Url="api/Product/GetFourCategoryByThree" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetFiveCategoryByFour" Url="api/Product/GetFiveCategoryByFour" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetSixCategoryByFive" Url="api/Product/GetSixCategoryByFive" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetTreatmentBigCategory" Url="api/Product/GetTreatmentBigCategory" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetTreatmentSmallCategory" Url="api/Product/GetTreatmentSmallCategory" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetDosage" Url="api/Product/GetDosage" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetProductWithNoAmountPurchase" Url="api/Product/GetProductWithNoAmountPurchase" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetCodeKeyWordList" Url="api/Product/GetCodeKeyWordList" Method="Post" IsRelative="true"/>

    <!--用户接口-->
    <Service Server="appService" Name="GetUsersFor" Url="api/User/GetUsersFor" Method="Post" IsRelative="true"/>
    
    <!--企业接口-->
    <Service Server="appService" Name="GetCpyKeyWordList" Url="api/Company/GetCpyKeyWordList" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetCpyEvalList" Url="api/Company/GetCpyEvalList" Method="Post" IsRelative="true"/>

    <!--医院接口-->
    <Service Server="appService" Name="GetHsptNameByHsptLvl" Url="api/Hospital/GetHsptNameByHsptLvl" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetHospitalByParam" Url="api/Hospital/GetHospitalByParam" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetHsptPurchaseDataList" Url="api/Hospital/GetHsptPurchaseDataList" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetHsptPurchaseProductList" Url="api/Hospital/GetHsptPurchaseProductList" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetHsptPurchaseProductList2" Url="api/Hospital/GetHsptPurchaseProductList2" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetHsptPurchaseOneCategoryProductList" Url="api/Hospital/GetHsptPurchaseOneCategoryProductList" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetHsptChangeDataList" Url="api/Hospital/GetHsptChangeDataList" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetHsptChangeOneCategoryList" Url="api/Hospital/GetHsptChangeOneCategoryList" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetHsptMonthRankData" Url="api/Hospital/GetHsptMonthRankData" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetHsptMonthRankOneCategoryData" Url="api/Hospital/GetHsptMonthRankOneCategoryData" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetHsptPurchaseAmountChangeList" Url="api/Hospital/GetHsptPurchaseAmountChangeList" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetHsptPurchaseMoneyChangeList" Url="api/Hospital/GetHsptPurchaseMoneyChangeList" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetHsptPurchaseMoneyChangeCoulumns" Url="api/Hospital/GetHsptPurchaseMoneyChangeCoulumns" Method="Post" IsRelative="true"/>
  
    <!--图表接口-->
    <Service Server="appService" Name="GetDistChartDataByCondition" Url="api/Chart/GetDistChartDataByCondition" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetBarChartDataByCondition" Url="api/Chart/GetBarChartDataByCondition" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetInitBarChartData" Url="api/Chart/GetInitBarChartData" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetPieChartDataByCondition" Url="api/Chart/GetPieChartDataByCondition" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetRadarChartDataByCondition" Url="api/Chart/GetRadarChartDataByCondition" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetStackChartDataByCondition" Url="api/Chart/GetStackChartDataByCondition" Method="Post" IsRelative="true"/>

    <!--对比接口-->
    <Service Server="appService" Name="GetProductCompareList" Url="api/Compare/GetProductCompareList" Method="Post" IsRelative="true"/>
    <Service Server="appService" Name="GetCompanyCompareList" Url="api/Compare/GetCompanyCompareList" Method="Post" IsRelative="true"/>


    <!--登录接口-->
    <Service Server="appService2" Name="LoginOn" Url="api/Login/LoginOn" Method="Post" IsRelative="true"/>
    <Service Server="appService2" Name="Logout" Url="api/Login/Logout" Method="Post" IsRelative="true"/>
    <Service Server="appService2" Name="IsKickUser" Url="api/Login/IsKickUser" Method="Post" IsRelative="true"/>


    <!--验证码接口-->
    <Service Server="appService2" Name="AddVerifyCode" Url="api/VerifyCode/AddVerifyCode" Method="Post" IsRelative="true"/>
    <Service Server="appService2" Name="AddMobileVerifyCode" Url="api/VerifyCode/AddMobileVerifyCode" Method="Post" IsRelative="true"/>

    <!--系统接口-->
  


    <!--审核接口-->
    <Service Server="appService2" Name="SaveRegisterUserAudit" Url="api/Audit/SaveRegisterUserAudit" Method="Post" IsRelative="true"/>
    <Service Server="appService2" Name="CheckUser" Url="api/Audit/CheckUser" Method="Post" IsRelative="true"/>

    <!--用户接口-->
    <Service Server="appService2" Name="GetUser" Url="api/User/GetUser" Method="Post" IsRelative="true"/>
    <Service Server="appService2" Name="GetUser2" Url="api/User/GetUser2" Method="Post" IsRelative="true"/>
    <Service Server="appService2" Name="UpdateUserOnlineStatus" Url="api/User/UpdateUserOnlineStatus" Method="Post" IsRelative="true"/>

    <Service Server="appService2" Name="AddUser" Url="api/User/AddUser" Method="Post" IsRelative="true"/>
    <Service Server="appService2" Name="UpdateUser" Url="api/User/UpdateUser" Method="Post" IsRelative="true"/>
    <Service Server="appService2" Name="CheckUser2" Url="api/User/CheckUser" Method="Post" IsRelative="true"/>
    <Service Server="appService2" Name="ChangeUserPassword" Url="api/User/ChangeUserPassword" Method="Post" IsRelative="true"/>

    <!--反馈接口-->
    <Service Server="appService2" Name="AddSuggest" Url="api/Suggest/AddSuggest" Method="Post" IsRelative="true"/>
    <Service Server="appService2" Name="GetSuggestListByParam" Url="api/Suggest/GetSuggestListByParam" Method="Post" IsRelative="true"/>
    <Service Server="appService2" Name="GetSuggest" Url="api/Suggest/GetSuggest" Method="Post" IsRelative="true"/>
    <Service Server="appService2" Name="GetSuggestStatistics" Url="api/Suggest/GetSuggestStatistics" Method="Post" IsRelative="true"/>
    <Service Server="appService2" Name="AddSuggestSeries" Url="api/Suggest/AddSuggestSeries" Method="Post" IsRelative="true"/>


    <Service Server="appService" Name="Test4" Url="http://192.168.0.194:8888/url4" Method="Get" IsRelative="false"/>
  </Services>
</Config>